@import 'tailwindcss';

@theme {
  --color-primary: #4a90e2;
  --color-secondary: #222831;
  --color-accent: #ffd369;
  --color-background: #f7f7f7;
  --color-surface: #ffffff;
  --color-muted: #bdbdbd;
  --color-text: #222831;
  --color-text-light: #f7f7f7;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  @apply bg-background text-text;
}

strong {
  @apply font-bold text-accent;
}
